<!DOCTYPE html>
<html>
<head>

    <title>Profile</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

{% if profile %}

<div
    style="
    height:250px;
    background-size:cover;
    background-position:center;
    background-image:url('/{{ profile.cover_img if profile.cover_img else 'static/default_cover.jpg' }}');
    "
></div>

<div
    style="
    max-width:700px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:12px;
    margin-top:-50px;
    "
>

    <center>

        <img
            <img src="{{ url_for('static', filename=profile.profile_img) }}">
            width="140"
            height="140"
            style="
            border-radius:50%;
            object-fit:cover;
            border:5px solid white;
            "
        >

        <h2>
            {{ profile.name }}
        </h2>

        <p>
            {{ profile.work_desc }}
        </p>

        <p>
            📍 {{ profile.area }}
        </p>

        <p>
            📞 {{ user.phone }}
        </p>

        <a href="/profile/setup">
            Edit Profile
        </a>

    </center>

    <hr>

    <h3>About</h3>

    <p><b>Age:</b> {{ profile.age }}</p>

    <p><b>Gender:</b> {{ profile.gender }}</p>

    <p><b>Religion:</b> {{ profile.religion }}</p>

    <p><b>Country:</b> {{ profile.country }}</p>

    <p><b>Address:</b> {{ profile.address }}</p>

    <hr>

    <h3>Gallery</h3>

    {% if gallery %}

        {% for img in gallery %}

            <img
                src="/{{ img }}"
                width="120"
                height="120"
                style="
                object-fit:cover;
                border-radius:10px;
                margin:5px;
                "
            >

        {% endfor %}

    {% else %}

        <p>No gallery uploaded</p>

    {% endif %}

</div>

{% else %}

<center style="margin-top:50px;">

    <h2>No Profile Found</h2>

    <a href="/profile/setup">
        Create Profile
    </a>

</center>

{% endif %}

</body>
</html>
