<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

<script>
    var socket = io({
        transports: ["websocket", "polling"]
    });

    socket.on("connect", function () {
        console.log("✅ Connected to live server");
    });

    socket.on("new_work", function (data) {

        let grid = document.querySelector(".grid");

        let div = document.createElement("div");
        div.className = "card";

        div.innerHTML = `
            <div class="title">🆕 ${data.title}</div>
            <div class="text">👷 Workers: ${data.workers}</div>
            <div class="text">💰 Salary: ${data.salary}</div>
            <a href="/work/${data.id}" class="btn">View</a>
        `;

        grid.prepend(div);
    });
</script>
